<nav class="navbar navbar-expand-lg navbar-secondary bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/admindash">ADMIN DASHBOARD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " aria-current="page" routerLink="/admindash">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/addplace">Add Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/places">Places</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/chat"> Chat</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " routerLink="/contact">ContactUs</a>
                </li> -->

            </ul>
            <button type="button" class="btn btn-secondary" routerLink="/login" *ngIf="! isLoggedin()">Login</button>&nbsp;
            <button type="button" class="btn btn-secondary" *ngIf=" isLoggedin()" (click)="logout()"> Logout</button>
        </div>
    </div>
</nav>